*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.feature {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  width: 4rem;
  font-size: 2rem;
  margin-top: -1.5rem;
}
